node_modules/
.cache/
public
src/gatsby-types.d.ts
.lighthouseci
tsconfig.tsbuildinfo
coverage
.vscode
reports

# yarn
**/.yarn/*
!**/.yarn/patches
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/versions
**/.pnp.*
